<div ng-controller="OrdersController as om">
    <table>
        <tr>
            <th>Product</th>
            <th>Product Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        <tbody>
            <tr ng-repeat="p in om.productList track by $index">
                <td>{{p.productName}}</td>
                <td>{{p.productPrice | currency}}</td>
                <td>{{p.productQuantity}}</td>
                <td>
                    <button ng-click="om.buyProduct($index)">Buy</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
